.items{
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap:wrap;
}

.tablets {
  display:inline;
  float:left;
  margin-right: 78px;
  text-align: center;
}

.caption {
  display:block;
}

.price {
	color:orange;
}

.iprice {
	color:orange;
  display:block;
  margin-bottom: 20px;
}

.ititle {
	color:orange;
	font-size:16px;
}

.title {
	color:orange;
	font-size:32px;
}
