body{
    background-color: #f7f7f7;
}

@media screen and (max-width: 1000px) {
    .items {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        flex-wrap:wrap;
        overflow: auto;
    }
    .images{
        width:150px;
        height:150px;
        float: left;
        padding-right: 30px;
        padding-left: 15px;
    }
    .tablets {
        display:inline;
        float:left;
        text-align: justify;
        height: 100%;
        position: relative;
        background-color: #ffffff;
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .caption {
        display:block;
    }

    .price {
        color:orange;
    }

    .iprice {
        color:#000;
        font-size: 1.5em;
        display: block;
        position: absolute;
        right: 0.75rem;
        bottom: 3.875rem;
        font-weight: 700;
    }

    .ititle {
        color: #000;
        font-style: normal;
        font-weight: 400;
        padding-top: 10px;
    }

    .title {
        color: #000;
        font-style: normal;
        font-weight: 400;
    }
}

@media screen and (min-width: 1000px) {
    .items{
        width: 69%;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        flex-wrap:wrap;
    }

    .images{
        width:150px;
        height:150px;
    }

    .tablets {
        display:inline;
        float:left;
        margin-right: 78px;
        text-align: center;
    }

    .caption {
        display:block;
    }

    .price {
        color:orange;
    }

    .iprice {
        color:orange;
        display:block;
        margin-bottom: 20px;
    }

    .ititle {
        color:orange;
        font-size:16px;
    }

    .title {
        color:orange;
        font-size:32px;
    }

}

@media screen and (max-width: 400px) {
    .items {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        flex-wrap:wrap;
        overflow: auto;
    }
    .images{
        width:150px;
        height:150px;
        float: left;
        padding-right: 30px;
        padding-left: 15px;
    }
    .tablets {
        display:inline;
        float:left;
        text-align: justify;
        height: 100%;
        position: relative;
        background-color: #ffffff;
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .caption {
        display:block;
    }

    .price {
        color:orange;
    }

    .iprice {
        color:#000;
        font-size: 1.5em;
        display: block;
        position: absolute;
        right: 0.75rem;
        bottom: 3.875rem;
        font-weight: 700;
    }

    .ititle {
        color: #000;
        font-style: normal;
        font-weight: 400;
        padding-top: 10px;
    }

    .title {
        color: #000;
        font-style: normal;
        font-weight: 400;
    }
}