html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    background-color: #ffffff;
    min-height: 100%;
    margin: 0;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("/static/images/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}


@media screen and (min-width: 400px) {
    .items {
        width: 90%;
        margin: 0 auto;
        flex-wrap:wrap;
        overflow: auto;
    }
    .images{
        width:150px;
        height:150px;
        float: left;
        padding-right: 30px;
        padding-left: 15px;
    }
    .tablets {
        display:inline;
        float:left;
        text-align: justify;
        height: 100%;
        position: relative;
        background-color: #ffffff;
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .caption {
        display:block;
    }

    .iprice {
        color:#000;
        font-size: 1.5em;
        display: block;
        position: absolute;
        right: 0.75rem;
        bottom: 3.875rem;
        font-weight: 700;
    }

    .ititle {
        color: #000;
        font-style: normal;
        font-weight: 400;
        padding-top: 10px;
    }
    .sortp {
        left:45px;

    }

}

@media screen and (min-width: 1000px) {
    .items {
        width: 70%;
        margin: 0 auto;
        flex-wrap:wrap;
        overflow: auto;
    }
    .sortp {
        left:45px;
    }
    .filters {
        float: left;
        left: 1%;
    }
    .select {
        width: 225px;
        cursor: pointer;
        background-color: white;
        box-shadow: 0 2px 0 white;
        border-radius: 2px;
        position: absolute;
        margin: auto;
        right: 0px;

    }
    .images{
        width:150px;
        height:auto;
        float: left;
        padding-right: 30px;
        padding-left: 15px;
    }
    .tablets {
        display:inline;
        float:left;
        text-align: justify;
        height: 160px;
        position: relative;
        background-color: #ffffff;
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .caption {
        display:block;
    }

    .iprice {
        color:#000;
        font-size: 1.5em;
        display: block;
        position: absolute;
        right: 0.75rem;
        bottom: 3.875rem;
        font-weight: 700;
    }

    .ititle {
        color: #000;
        font-style: normal;
        font-weight: 400;
        padding-top: 10px;
    }

}

@media screen and (max-width: 400px) {
    .items {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        flex-wrap:wrap;
        overflow: auto;
    }
    .images{
        width:150px;
        height:auto;
        float: unset;
        padding-right: 30px;
        padding-left: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .tablets {
        display:inline;
        float:left;
        text-align: justify;
        height: 100%;
        position: relative;
        background-color: #ffffff;
        padding-bottom: 30px;
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .caption {
        display:block;
    }

    .iprice {
        color:#000;
        font-size: 1.5em;
        display: block;
        font-weight: 700;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: right;
    }

    .ititle {
        color: #000;
        font-style: normal;
        font-weight: 400;
        padding-top: 20px;
        position: relative;
        padding-bottom: 20px;
    }

}