.itemPageCont{
    width: 1000px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #000;
    font-family: "Roboto", serif;
    font-weight: 600;
}

.price{
    color:#000;
    font-size: 1.5em;
    display: block;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    right: 5%
}

.item{
    width: 100%;
    display: block;
}

.desc{
    text-align: justify;
    font-family: "Roboto", serif;
    margin-right: 5%;
    margin-top: 1%;
}

.cover {
    width: 70%;
    left: 10%;
}

.image{
    width:auto;
    height:auto;
    float: left;
    padding-right: 30px;
    padding-left: 15px;
    margin-bottom: auto;
}

